@model smartlivestock.Models.Advice

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Advice</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AdvId" />
            <div class="form-group">
                <label asp-for="AdvName" class="control-label"></label>
                <input asp-for="AdvName" class="form-control" />
                <span asp-validation-for="AdvName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdvDate" class="control-label"></label>
                <input asp-for="AdvDate" class="form-control" />
                <span asp-validation-for="AdvDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UrName" class="control-label"></label>
                <input asp-for="UrName" class="form-control" />
                <span asp-validation-for="UrName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
