@model smartlivestock.Models.Medicine

@{
    ViewData["Title"] = "Create";
}

<div class="container mt-4">
    <h2 class="text-center text-primary">CREATE  MEDICINE</h2>

    <div class="row justify-content-center">
        <form asp-action="Create" class="col-12 col-md-8 col-lg-6 bg-light bg-gradient p-4 border" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="MedName" class="control-label"></label>
                <input asp-for="MedName" class="form-control" />
                <span asp-validation-for="MedName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MediType" class="control-label"></label>
                <input asp-for="MediType" class="form-control" />
                <span asp-validation-for="MediType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenName" class="control-label"></label>
                <input asp-for="GenName" class="form-control" />
                <span asp-validation-for="GenName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-primary">Back</a>
            </div>

        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
