@model smartlivestock.Models.Trainingvideo

@{
    ViewData["Title"] = "Create";
}



<h4>ট্রেইনিং ভিডিও সেটাপ</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="VideoName" class="control-label">ভিডিও নাম</label>
                <input asp-for="VideoName" class="form-control" autofocus/>
                <span asp-validation-for="VideoName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="videoLink" class="control-label">ভিডিও আইডি</label>
                <input asp-for="videoLink" class="form-control" required/>
                <span asp-validation-for="videoLink" class="text-danger"></span>
            </div>
    
            <div class="form-group" style="padding-top:5px;">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-primary">Back</a>
            </div>
        </form>
    </div>
</div>

<div>
   
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
